<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    	<!-- testing launch.jsp to run home page of the web app
    	and to test that the result will prompt error msg when no credential is entered  -->
      <class name="com.dvops.maven.eclipse.launchTest"/>
      	<!-- testing dashboard page to display all users 
      	and to test if the "add new employee" button will bring users to the next page
      	it will return a result of the title of the new page if it is successful-->
      <class name="com.dvops.maven.eclipse.userservlets"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
